.bgStyleDetails{
    background-color: blue;
}

.details-image-banner {
    background-color: transparent;
    width: 99vw;
    display: flex;
    justify-content: flex-end;
}

.details-info-section {
    width: 50%;
    /* background-color: #041c2c; */
    position: absolute;
    left: 0;
    height: 100vh;
}

.details-info-bg-section{
    /* background: rgb(4,28,44); */
    position: absolute;
    left: 0;
    background: linear-gradient(90deg, rgba(4,28,44,1) 83%, rgba(4,28,44,0) 95%);
    width: 50%;
    height: 80vh;
}

.details-img-section {
    width: 60%;
    height: 80vh;
}

.details-img {
    object-fit: fill !important;
    height: 100%;
}

.details-info-container{
    /* background-color: blue; */
    width: 80%;
    display: flex;
    flex-direction: row;
}

.details-info-left {
    max-width: 16em;
}

.details-info-right {
    flex: 1;
    /* background-color: darkblue; */
    margin-left: 20px;
}

.genre-rating-section{
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
    margin: 0;
    padding: 0;
}

.rating-section{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buttons-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.details-buttons-info{
    flex: 1 !important;
    margin-right: 10px;
    font-weight: 600;
}

.details-buttons-info:hover{
    flex: 1 !important;
    margin-right: 10px;
    color: white;
    font-weight: 600;
}

.genre-text-style{
    margin: 0;
    padding: 0;
    margin-right: 10px;
    max-height: 1.25em;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    /* transform: translateY(10px); */
}

.rating-svg{
    width: 20px;
}
.rating-text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}
.rating-text-style{
    margin-top: auto;
    margin-bottom: auto;
}
.rating-section{
    /* background-color: blueviolet; */
    margin: 0;
    padding: 0;
}
.mrating-box-style{
    display: flex;
    background-color: #b0becb;
    border-radius: 5px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    padding: 2px;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    max-height: 27px;
}

.mrating-text-style{
    color: black;
    /* margin: 0;
    padding: 0; */
    margin-right: 10px;
    /* max-height: 1.25em; */
    text-align: center;
    /* background-color: aqua; */
    width: 100%;
    flex: 1;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: auto;
    nav-right: auto;
    font-weight: 700;
    transform: translateX(5px);
    text-overflow: ellipsis !important;
    overflow: hidden !important;
}

.details_desc_container{
    padding-top: 2em;
    padding-bottom: 2em;
}

.details-rent-buy-section{
    display: flex;
    flex-direction: row;
}

.details-rentBuy-button{
    margin-right: 1em;
    padding: 1em;
    font-weight: 700;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    .details-info-bg-section{
        /* background: rgb(4,28,44); */
        position: absolute;
        bottom: 0;
        background: linear-gradient(360deg, rgba(4,28,44,1) 83%, rgba(4,28,44,0) 95%);
        width: 100%;
        height: 50vh;
    }

    .details-img-section {
        width: 100%;
        height: 50vh;
    }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    .details-img-section {
        width: 100%;
        height: 30vh;
    }

    .universal_container{
        margin: 0;
        padding: 0;
    }
}
