.mainContainer{
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.homeContainer {
    margin-left: "10%";
    margin-right: "10%";
    flex: 1;
    width: 100%;
    justify-content: center;
}

.home_space_featured {
    margin-top: 4em;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    /* .mainContainer {
        background-color: blue;
    } */
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    /* .mainContainer {
        background-color: olive;
    } */

}
