.mainContainer{
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.listing_filter_container {
    display: flex;
    flex-direction: row;
}

.listing_button_container{
    margin-left: 4em;
    margin-right: 4em;
}

.listing_button_flex_container {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
}

.listing_outer_container{
    min-height: 100vh;
}

.listing_check_style{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
}

.listing_dropdown_style {
    width: 9em;
}

.button_clear_filter_container_noshow{
    opacity: 0;
    margin-left: 1em;
    display: inline-block;
    margin-top: 4px;
    cursor: pointer;
}

.button_clear_filter_container_noshow:hover{
    cursor: pointer;
}

.button_clear_filter_container{
    margin-left: 1em;
    display: inline-block;
    margin-top: 4px;
}

.button_clear_filter {
    border-radius: 100px;
    height: 1.5em;
    width: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
}

.button_clear_txtStyle {
padding-top: 10px;
}

.listing_filter_container_inner{
    display: flex;
    flex-direction: row;
}


/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {

}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    .listing_filter_container{
        flex-direction: column;
    }
    .listing_check_style{
        text-align: left;
        margin-left: 0em;
        padding: 0;
        margin-top: 10px;
        justify-content: flex-start;
    }

    .listing_button_container {
        margin: 0;
        padding: 0;
    }


}